body {
	/*background-image: url(../images/background1.jpg);*/
	background-image: url(../images/bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
}	

.div-welcome {
	height: 300px;
	width: 50%;
	text-align: center;
	margin: 0 auto;
	margin-top: 10%;
	animation-name: move_up;
  	animation-duration: 1.5s;
}

@keyframes move_up {
  from {margin-top: 25%;}
  to {margin-top: 10%;}
}

#btn-login {
	animation-name: hide_out;
	animation-duration: 3s;
}

@keyframes hide_out {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}