<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/master.css">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11 "></script>
    <script src="../../js/route_display.js"></script>
</head>

<body>

    <nav>
        <div class="logo">
            <a href="../../"><img class="img-logo" src="../../images/logo.png"></a>
        </div>

        <ul>
            <li class="active-menu">
                <a href="../../views/route">Routes</a>
            </li>
            <li>
                <a href="../../views/ship">Ships</a>
            </li>
            <li>
                <a href="../../views/crew">Crews</a>
            </li>
        </ul>
    </nav>

    <main>

        <div class="header">
            <h1>Routes</h1>
            <p>Subtitle</p>
        </div>

        <div class="header-table">
            <div class="header">
                <h2>List of Routes</h2>
                <p>The table below displays all the saved ship routes.</p>
            </div>

            <button class="btn-add"><a href="add.html">+&nbsp;&nbsp;&nbsp;Add Route</a></button>
        </div>

        <div id="display">

        </div>

    </main>

</body>

</html>