<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login - CTVMS </title>
    <link rel="stylesheet" type="text/css" href="../css/master.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="stylesheet" type="text/css" href="../css/welcome.css">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11 "></script>
    <script src="../js/login.js"></script>
</head>

<body>
    <div class="div-login">
        <img src="../images/logo-2.png" height="97">
        <h3>Email</h3>
        <input type="text" id="username" name="username" placeholder="Enter your username here">
        <h3>Password</h3>
        <input type="password" id="password" name="password" placeholder="Enter your password here">
        <button id="btn-submit" style="width:100%;margin-top: 7%;">LOGIN</button>
        <br><br>
        <text>Don't have an account yet? </text><a href="#"><text style="color: #4B49B6">Sign up. </text></a>
    </div>
</body>

</html>