<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/master.css">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11 "></script>
    <!--customized-->
    <script src="../../js/ship_add.js"></script>
    <script src="../../js/route_option_display.js"></script>

    <style>
        /*here goes my customized css*/
    </style>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>

    <nav>
        <div class="logo">
            <a href="../../"><img class="img-logo" src="../../images/logo.png"></a>
        </div>

        <ul>
            <li>
                <a href="../../views/route">Routes</a>
            </li>
            <li class="active-menu">
                <a href="../../views/ship">Ships</a>
            </li>
            <li>
                <a href="../../views/crew">Crews</a>
            </li>
        </ul>
    </nav>

    <main class="section-form">

        <div class="goBack"><a href="index.html"><i class="fas fa-chevron-left" style="margin-right: 20px"></i>Go back to List of Ships</a></div>

        <div class="header">
            <h1>Adding a Ship</h1>
            <p>Please fill up all the required fields (*).</p>
        </div>


        <table class="table-form">
            <tr>
                <td>
                    <label for="name">Ship Name*</label>
                    <input type="text" name="name" id="name" placeholder="Enter ship name">
                </td>
                <td>
                    <label for="speed_class">Speed Class*</label>
                    <select name="speed_class" id="speed_class">
                        <option value="1">Normal - 23 Knots</option>
                        <option value="2">Slow Streaming - 19 Knots</option>
                        <option value="3">Extra Slow Streaming - 16.5 Knots</option>
                        <option value="4">Minimal Costs - 13.5 Knots</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="route_id">Select a Route*</label>
                    <select name="route_id" id="route_id">

                    </select>
                </td>
                <td>
                    <label for="price">Price*</label>
                    <input type="number" name="price" id="price" step="any" min="1" pattern="\d*" placeholder="Enter price">
                </td>
            </tr>
        </table>

        <div class="btn-submit-container">
            <button type="submit" id="btn-submit">Save</button>
        </div>

    </main>
</body>

</html>